<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人测试：Jsonker学习网站</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			.row{
				margin: 0;
				padding: 0;
			}
		</style>
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="row" id="con">
  		<div class="col-xs-12 col-md-4 col-md-offset-4">
  			<div class="panel panel-primary">
			  <div class="panel-heading">
			  	<div class="page-header">
				  <h1 style="text-align: center; font-weight: 800; color: white;">注 &nbsp; &nbsp;&nbsp;&nbsp;册</h1>
				</div>
			  </div>
			  <div class="panel-body">
			    	<form style="text-align: center;" id="addform">
					  <div class="form-group">
					    <label class="sr-only" for="umane">uname</label>
					    <div class="input-group">
					      <div class="input-group-addon">用 &nbsp;户 &nbsp;名</div>
					      <input type="text" class="form-control" id="auname" name="uname">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="upwd">upwd</label>
					    <div class="input-group">
					      <div class="input-group-addon">密 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</div>
					      <input type="password" class="form-control" id="aupwd" name="upwd">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">确认密码</div>
					      <input type="password" class="form-control" id="dell_aupwd">
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label class="sr-only" for="uemall">uemail</label>
					    <div class="input-group">
					      <div class="input-group-addon">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 箱</div>
					      <input type="text" class="form-control" id="auemail" name="uemail">
					    </div>
					  </div>
					  
					  <div class="" style="height: 15px;width: 100%;"></div>
					  <button type="button" class="btn btn-primary btn-default btn-block" onclick="addUser();">提交</button>
					  
					</form>
			  </div>
			</div>
  		</div>
  	</div>
    

    <script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/register.js"></script>
  </body>
</html>